<%- include('./partials/head_ov_dt') %>

<main class="detail">
  <article>
   
  <% items.forEach(item => { %> 
    <img src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>" alt=""/>

    <div class="item-info">
      <h2><%= item.title %></h2>
      <p>auteur: <%= item.auteur %></p>
      <p>uitgever: <%= item.publisher %></p>
      <p>taal: <%= item.language %></p>
      <p>kenmerken: <%= item.characteristics %></p>
      <p>ISBN: <%= item.ISBN %></p>
      <p>editie: <%= item.editie %></p>
      <p><b>genre:</b> <%= item.genre %></p>
      <p><b>samenvatting:</b> <%- item.description %></p>
    </div>
  <% }) %>
  </article>
</main>

<%- include('./partials/foot') %>