<%- include('./partials/head', { userId: userId }) %>

<main class="family">
  <h1>Mijn familie</h1>

  <div class="container_family">
    <% families.forEach(function(family) { %>
      <% family.family_member.forEach(function(member) { %>
        <% profiles.forEach(function(profile) { %>
          <% if (profile.id === member) { %>
            <section onclick="window.location.href = '/profile/<%= profile.id %>'">
              <img src="https://fdnd-agency.directus.app/assets/<%= profile.avatar %>">
              <h3 class="member_name"><%= profile.name %></h3> 
            </section>
          <% } %>
        <% }) %>
      <% }) %>
    <% }) %>
    <section>
      <div class="cross"><img src="/plus.png"></div>
      <h3>Account toevoegen</h3> 
    </section>
  </div>
</main>

<script>
  function redirectOverview() {
    window.location.href = '/profile_page';
  }
</script>

<%- include('./partials/foot') %>
