<%- include('./partials/head_ov_dt') %>

<main class="overview">
    <section>
        <article class="welkom">
            <% profiles.forEach(function(profile) { %>
            <% if (profile.id === 2) { %>
                <h1>Welcome bij OBA, <%= profile.name %>!</h1>
            <% } %>
            <% }); %>
            <p>
                Ontdek een wereld vol kennis en verhalen. Hier vind je al jouw gegevens
                zoals leningen en betalingen. Ook kan je hier nieuwe activiteiten ontdekken.
            </p>
        </article>
    </section>
    <article>
        <h2>Favorite boeken</h2>
        <ul class="books">
            <!-- Filter API data op item_type parameter = 'book',
                daarna elk item uit de gefilterde data weergeven -->
            <% data.filter(item => item.item_type === 'book').forEach(book => { %>
                <!-- Wanneer erop wordt geklikt, wordt user gestuurd naar 
                    een detail pagina van een specifiek item.-->
                <li onclick="window.location.href='./detail/<%= book.id %>'">
                    <img src="https://fdnd-agency.directus.app/assets/<%= book.afbeelding %>" alt="<%= book.title %> Image">
                    <h3><%= book.title %></h3>
                </li>
            <% }); %>
        </ul>

        <h2>Favorite CD's</h2>
        <ul class="cds">
            <% data.filter(item => item.item_type === 'cd').forEach(cd => { %>
                <li onclick="window.location.href='./detail/<%= cd.id %>'">
                    <img src="https://fdnd-agency.directus.app/assets/<%= cd.afbeelding %>" alt="<%= cd.title %> Image">
                    <h3><%= cd.title %></h3>
                </li>
            <% }); %>
        </ul>

        <h2>Favorite activiteiten</h2>
        <ul class="activities">
            <% data.filter(item => item.item_type === 'activity').forEach(activity => { %>
                <li onclick="window.location.href='./detail/<%= activity.id %>'">
                    <img src="https://fdnd-agency.directus.app/assets/<%= activity.afbeelding %>" alt="<%= activity.title %> Image">
                    <h3><%= activity.title %></h3>
                </li>
            <% }); %>
        </ul>
    </article>
</main>

<%- include('./partials/foot') %>