<%- include('./partials/head', { userId: userId }) %>

<main class="main-overview">
        <div class="welkom-message-template">
        <h1>Welkom bij OBA, <%= user.name %>!</h1>
            <p>
                Ontdek een wereld vol kennis en verhalen. Hier vind je al jouw gegevens
                zoals leningen en betalingen. Ook kan je hier nieuwe activiteiten ontdekken.
            </p>
        </div>

        <section class="section-of-items">
            <div class="title-container">
                <h2>Favorite boeken</h2>
            </div>
            <section class="wrapper">
                <i id="left" class="icon-arrow icon-arrow-left"></i>
            <!-- Ik maak mijn carousel op een manier waarop de gebruiker de carousel can doorscrollen 
            op een klassieke horizontal scroll manier (als optimale ervaring met alleen HTML en CSS) en met 
            javascript maak ik drag by mouse mogelijk (progressive enhancement)-->
                <div class="carousel">
                    <!-- Filter API data op item_type parameter = 'book',
                        daarna elk item uit de gefilterde data weergeven -->
                    <% data.filter(item => item.item_type === 'book').forEach(book => { %>
                        <!-- Wanneer erop wordt geklikt, wordt user gestuurd naar 
                            een detail pagina van een specifiek item.-->
                        <div class="carousel_item" onclick="window.location.href='./detail/<%= book.id %>'" draggable="false">
                            <img src="https://fdnd-agency.directus.app/assets/<%= book.afbeelding %>" alt="<%= book.title %> Image">
                            <h3><%= book.title %></h3>
                        </div>
                    <% }); %>
                </div>
                <i id="right" class="icon-arrow icon-arrow-right"></i>
                <button class="see-more-button">alles bekijken</button>
            </section>
            
            <div class="title-container">
                <h2>Favorite CD's</h2>
            </div>
            <section class="wrapper">
                <i id="left" class="icon-arrow icon-arrow-left"></i>
                <div class="carousel">
                    <% data.filter(item => item.item_type === 'cd').forEach(cd => { %>
                        <div class="carousel_item" onclick="window.location.href='./detail/<%= cd.id %>'" draggable="false">
                            <img src="https://fdnd-agency.directus.app/assets/<%= cd.afbeelding %>" alt="<%= cd.title %> Image">
                            <h3><%= cd.title %></h3>
                        </div>
                    <% }); %>
                </div>
                <i id="right" class="icon-arrow icon-arrow-right"></i>
                <button class="see-more-button">alles bekijken</button>
            </section>
    
            <div class="title-container">
                <h2>Favorite activiteiten</h2>
            </div>
            <section class="wrapper">
                <i id="left" class="icon-arrow icon-arrow-left"></i>
                <div class="carousel">
                    <% data.filter(item => item.item_type === 'activity').forEach(activity => { %>
                        <div class="carousel_item" onclick="window.location.href='./detail/<%= activity.id %>'" draggable="false">
                            <img src="https://fdnd-agency.directus.app/assets/<%= activity.afbeelding %>" alt="<%= activity.title %> Image">
                            <h3><%= activity.title %></h3>
                        </div>
                    <% }); %>
                </div>
                <i id="right" class="icon-arrow icon-arrow-right"></i>
                <button class="see-more-button">alles bekijken</button>
            </section>
        </section>

</main>

<%- include('./partials/foot') %>