<%- include('./partials/head_ov_dt') %>
<h1>Profile Page</h1>
<p>Name: <%= user.name %></p>
<img src="<%= user.avatar %>" alt="Avatar">
<p>Subscription: <%= user.subscription %></p>
<p>Address: <%= user.adress %></p>
<p>City: <%= user.city %></p>
<p>Postal Code: <%= user.postal_code %></p>
<p>Phone Number: <%= user.phonenumber %></p>
<p>Email: <%= user.email %></p>